/* Populate proper height for both cols and need elm's*/
html, body,.container-fluid, .row, .row > div, #map {
	height:100%;
}

h3 {
	font-weight: bold;
	display: inline-block;
}

.no-padding {
	padding: 0;
}

.left-border {
	border-left: 2px solid #a59e9e;
	background-color: #f8fbff;
}

#Labels .label:first-letter  {
	text-transform: uppercase;
}

#Labels .label {
	margin: .3em 0.3em;;
	padding: .3em .7em 0.4em;
	display: inline-block;
	text-transform: capitalize;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none; 
}

#labels {
	width: 100%;
	word-wrap: break-word;
}

#Labels span,.addLabel {
	cursor: pointer;
	display: inline-block;	
}

#Labels span > .glyphicon {
	margin: 0 0 0 0.4em;
	top: 0.15em;
	position: relative;
}



.labels-form {
	box-sizing: border-box;
	margin: 0.6em 1em 0.6em 0.6em;
	padding: 0.4em;
	overflow: hidden;

}

.labels-form h4 {
	display: inline;
}

.labels-form {
	display: none;
}

#Labels #label-all {
	padding: 0.4em .7em .38em;
}